.custom-sidebar-ad {
  margin: 5px auto;
  width: 230px;
  text-align: center;
}

.ad-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}

.ad-item {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.ad-item:hover {
  transform: translateY(-5px);
}

.ad-image {
  max-width: 100%;
  height: auto;
}

.sponsor-link a {
  text-decoration: none;
  color: var(--vp-c-accent-bg);
  font-weight: bold;
}
